html,
body,
arcgis-map {
  padding: 0;
  margin: 0;
  height: 100%;
  width: 100%;
}

calcite-shell-panel[slot='panel-start'] {
  --calcite-shell-panel-max-width: 80vw;
  --calcite-shell-panel-width: 800px;
  --calcite-shell-panel-min-width: 640px;
}
